<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cars</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Add cars to the database</h1>

<% if(typeof(errors) != "undefined") { %>
	<% for(var x in errors) { %>
		<p class="text-danger">**<%= errors[x].message %>**</p>
	<% } %>
<% } %>

		<form action="addCar" method="post" class="form-horizontal">
			<div class="form-group">
				<label for="make" class="col-sm-2 control-label">Make</label>
				<div class="col-sm-10">
					<input type="text" name="make" class="form-control" id="make" placeholder="Make">
				</div>
			</div>
			<div class="form-group">
				<label for="model" class="col-sm-2 control-label">Model</label>
				<div class="col-sm-10">
					<input type="text" name="model" class="form-control" id="model" placeholder="Model">
				</div>
			</div>
			<div class="form-group">
				<label for="year" class="col-sm-2 control-label">Year</label>
				<div class="col-sm-10">
					<input type="text" name="year" class="form-control" id="year" placeholder="Year">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<input type="submit" class="btn btn-default" value="Submit"> <a href="/cars" class="btn btn-info">View Cars</a>
				</div>
			</div>
		</form>
	</div>
	<!-- SCRIPTS -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>​
</body>
</html>